# .gitignore

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*$py.class

# Ignore Python distribution artifacts
dist/
build/
*.egg-info/
*.egg

# Ignore Python environments
.env
.venv/
ENV/

# Ignore PyCharm artifacts
.idea/

# Ignore libraries
lib

# Ignore generated assets
generated_assets/